body{
background-color:#d5edf5;
font-family: monaco;
}


table, td, th{
border: 1px solid black;
}

th{
background-color:#aecbd4;
}

td, th{
padding:5px;
}

th:hover{
background-color:#97B0B8;
}

td:hover{
background-color:#BFD6E0;
}

.tabel{
margin:35px;
text-align:center;
}

.poza1{
width:100%; height:100%; object-fit: contain;
border-radius: 10%;
box-shadow: 0 4px 10px;
}

.poza{
border-radius: 10%;
text-align:center;
margin: auto;
width: 32%;
height: 50%;
background-color: #c1dfe8;
padding: 10px;
}

p{
font-size:25;
}
